<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<title>Eat-da-Burger!</title>

	<script src="https://code.jquery.com/jquery.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

</head>

<body>

	<div class="container">
		{{!-- Page Header --}}
		<div class="text-center">
			<img src="https://i.imgur.com/eBi1fws.png" alt="logo" style="width:200px;height:200px;">

			<h1><strong>Eat-da-
				<span>
					<img src="https://i.imgur.com/QbJRbI0.png" alt="name" style="width:250px;height:40px;">
				</span>
			</strong></h1>

		</div>

		<br>
		<h2 class="text-center">It's just how you like it!</h2>
		{{!-- Add a burger --}}
		<br>
	
		<div>
				
				{{{ body }}}
	
		</div>
		
	</div>

</body>

</html>