body {
    background-image: url("https://images0.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-dark-orange-white-22rns6.png");
    font-family: 'Open Sans', sans-serif;

}    

h2 {
    font-family: 'Pacifico', cursive;
}

.container {
    background-color: white;
    margin-top: 50px;
    padding-bottom: 50px;
}